{% extends "base.html" %}
{% block title %}Python for Voting Test{% endblock %}
{% block content %}
<div class="container">
    <h2><small>Results:</small></h2>
    <ul>
        {% for choice in poll.choice_set.all %}
        <li>
            {% if select_choice.id == choice.id %}
            <font color="red">{{ choice.choice_text }}, {{ choice.votes }}</font>
            {% else %}
            {{ choice.choice_text }}, {{ choice.votes }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>
</div>
{% endblock %}