{% extends "base.html" %}
{% block title %}登录页面{% endblock %}
{% block content %}
    <div class="container">
       <form class="form-signin" role="form" action="/accounts/login/" method="POST">
           {% csrf_token %}
            <h2 class="form-signin-heading"> 登 录 ：</h2>
            <input name="username" type="text" class="form-control" placeholder="邮箱" required autofocus>
            <input name="password" type="password" class="form-control" placeholder="密码" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> 记住我
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
          </form>
        <hr>
        <footer>
            <p>&copy; Company 2013</p>
        </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
